.btn-icon {
    height: 4.5rem;
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;
}

.btn-icon-content {
    background: #8b3d0d;
    border-radius: 0px 10px 10px 0px;  
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.btn-button {
    width: 100%;
    display: flex;
}
