.home-container {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-content {
    padding: 10em 2em 10em 2em;
}

.text-title {
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
}

.text-subtitle {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-top: 30px;
    margin-bottom: 150px;
}

.main-image {
    width: 100%;
}

@media screen and (max-width: 1040px) {
    .image-content {
        padding-top: 10rem;
    }
    .home-content {
        text-align: center;
        padding: 5em 1em 5em 1em;
    }
    .home-btn {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 576px) {
    .image-content {
        padding-top: 0;
    }
    .home-content {
        padding: 2em 0 2em 0;
    }
}